<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offer Facility</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <style>
    #map {
      height: 400px;
    }
  </style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex align-items-center" th:href="@{/home}">
      <img th:src="@{../images/logo.png}" alt="Logo" style="height: 40px; margin-right: 10px; border-radius: 5px 5px 5px 5px;">
      <span style="font-size: 32px; font-weight: bold; color: #004996; font-family: 'Arial Narrow'">NCS</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" th:href="@{/bulletin}">Bulletin Board</a>
        <a class="nav-item nav-link" th:href="@{/chat}">Chat</a>
        <a class="nav-item nav-link" th:href="@{/notifications}">Notifications</a>
        <a class="nav-item nav-link" th:href="@{/search-users}">Search Users</a>
        <a class="nav-item nav-link" th:href="@{/all-hubs}">Search Hub</a>

        <li class="nav-item" sec:authorize="hasAuthority('agent')">
          <a class="nav-link" th:href="@{/booking}">Booking</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('agent')">
          <a class="nav-link" th:href="@{/calendar}">My Calendar</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/manage-calendar}">Manage Calendar</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/statistics}">Statistics</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/manage-users}">Manage Users</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/district/add}">Manage Districts</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/calendar}">Manage Calendar</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/offer-facility}">Add Hubs</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/manage-initiative}">Add Initiatives</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/my-hubs}">My Hubs</a>
        </li>
      </div>
      <div class="navbar-user dropdown ml-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &#9776;
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" th:href="@{/account/settings}">Account Settings</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container mt-5">
  <h1>Offer Facility</h1>
  <form th:action="@{/offer-facility}" th:object="${hub}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" th:field="*{description}" rows="3" required></textarea>
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" class="form-control" id="type" th:field="*{type}" required>
    </div>

    <div class="form-group">
      <label for="municipality">Municipality:</label>
      <select class="form-control" id="municipality" th:field="*{municipality}" required>
        <option value="" disabled selected>Select Municipality</option>
        <option th:each="municipality : ${municipalities}"
                th:value="${municipality.id}"
                th:text="${municipality.name}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="start">Start Date and Time:</label>
      <input type="datetime-local" class="form-control" id="start" th:field="*{start}" required>
    </div>
    <div class="form-group">
      <label for="end">End Date and Time:</label>
      <input type="datetime-local" class="form-control" id="end" th:field="*{end}" required>
    </div>

    <div class="form-group">
      <label for="image">Upload Image:</label>
      <input type="file" class="form-control-file" id="image" accept="image/*">
      <input type="hidden" id="imageBase64" name="image" th:field="*{image}">
    </div>
    <div class="form-group">
      <label for="map">Location:</label>
      <div id="map"></div>
      <input type="hidden" th:field="*{latitude}" id="latitude">
      <input type="hidden" th:field="*{longitude}" id="longitude">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<footer class="bg-light text-center mt-5">
  <div class="footer-content py-4">
    <div class="footer-logo">
      <h2>NCS</h2>
      <p>This platform is part of the project NODES which has received funding from the MUR –
        M4C2 1.5 of PNRR funded by the
        European Union - NextGenerationEU (Grant agreement no. ECS00000036).</p>
    </div>
  </div>
  <div class="footer-bottom py-2">
    <a href="https://ecs-nodes.eu/">NODES</a>
    <a href="https://ecs-nodes.eu/4-montagna-digitale-e-sostenibile/attivita">SMART WEST</a>
    <div class="footer-images">
      <img src="../images/logi.jpg" alt="Logi" style="height: 100px; margin-right: 20px;">
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  document.getElementById("image").addEventListener("change", function(event) {
    var file = event.target.files[0];
    if (file) {
      var reader = new FileReader();
      reader.onload = function() {
        document.getElementById("imageBase64").value = reader.result.split(',')[1]; // Remove "data:image/png;base64,"
      };
      reader.readAsDataURL(file);
    }
  });
</script>
<script>
  var map = L.map('map').setView([45.737, 7.320], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19
  }).addTo(map);

  var marker;

  map.on('click', function(e) {
    if (marker) {
      map.removeLayer(marker);
    }
    marker = L.marker(e.latlng).addTo(map);
    document.getElementById('latitude').value = e.latlng.lat;
    document.getElementById('longitude').value = e.latlng.lng;
  });
</script>
</body>
</html>
