<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Search Resources</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <style>
    #map {
      height: 400px;
    }
  </style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex align-items-center" th:href="@{/home}">
      <img th:src="@{../images/logo.png}" alt="Logo" style="height: 40px; margin-right: 10px; border-radius: 5px 5px 5px 5px;">
      <span style="font-size: 32px; font-weight: bold; color: #004996; font-family: 'Arial Narrow'">NCS</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" th:href="@{/bulletin}">Bulletin Board</a>
        <a class="nav-item nav-link" th:href="@{/chat}">Chat</a>
        <a class="nav-item nav-link" th:href="@{/notifications}">Notifications</a>
        <a class="nav-item nav-link" th:href="@{/search-users}">Search Users</a>
        <a class="nav-item nav-link" th:href="@{/all-hubs}">Search Hub</a>

        <li class="nav-item" sec:authorize="hasAuthority('agent')">
          <a class="nav-link" th:href="@{/booking}">Booking</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('agent')">
          <a class="nav-link" th:href="@{/calendar}">My Calendar</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/manage-calendar}">Manage Calendar</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/manage-users}">Manage Users</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('admin')">
          <a class="nav-link" th:href="@{/district/add}">Manage Districts</a>
        </li>

        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/calendar}">Manage Calendar</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/offer-facility}">Add Hubs</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/manage-initiative}">Add Initiatives</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('business')">
          <a class="nav-link" th:href="@{/my-hubs}">My Hubs</a>
        </li>
      </div>
      <div class="navbar-user dropdown ml-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &#9776;
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" th:href="@{/account/settings}">Account Settings</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container mt-5">
  <h1>Search Resources</h1>
  <div class="form-group">
    <label for="hubId">Choose a Hub:</label>

    <form id="hub-selection-form" method="get" th:action="@{/resourcesBis}">
      <input type="hidden" name="type" th:value="${type}">
      <input type="hidden" name="quantity" th:value="${quantity}">
      <input type="hidden" name="startDate" th:value="${startDate}">
      <input type="hidden" name="endDate" th:value="${endDate}">
      <select class="form-control" id="hubId" name="hubId">
        <option th:each="hub : ${hubs}" th:value="${hub.id}" th:text="${hub.name}">Hub</option>
      </select>
      <button type="submit" class="btn btn-primary">Confirm and View Resources</button>
      <button type="button" class="btn btn-secondary" onclick="searchHubs()">Search</button>
    </form>

  </div>

  <h2 class="mt-5">Search Results</h2>
  <ul id="hubs-list" class="list-group mt-3"></ul>

  <div id="map" class="mt-4"></div>

</div>

<footer class="bg-light text-center mt-5">
  <div class="footer-content py-4">
    <div class="footer-logo">
      <h2>NCS</h2>
      <p>This platform is part of the project NODES which has received funding from the MUR –
        M4C2 1.5 of PNRR funded by the
        European Union - NextGenerationEU (Grant agreement no. ECS00000036).</p>
    </div>
  </div>
  <div class="footer-bottom py-2">
    <a href="https://ecs-nodes.eu/">NODES</a>
    <a href="https://ecs-nodes.eu/4-montagna-digitale-e-sostenibile/attivita">SMART WEST</a>
    <div class="footer-images">
      <img th:src="@{../images/logi.jpg}" alt="Logi" style="height: 100px; margin-right: 20px;">
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  let map;
  let markers = [];

  document.addEventListener('DOMContentLoaded', function() {
    map = L.map('map').setView([45.737, 7.320], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  });

  function searchHubs() {
    const hubId = document.getElementById('hubId').value;

    fetch(`/api/hubsRes?location=${hubId}`)
            .then(response => response.json())
            .then(hubs => {
              clearMarkers();
              const listElement = document.getElementById('hubs-list');
              listElement.innerHTML = '';
              const bounds = [];

              hubs.forEach(hub => {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item';
                listItem.innerHTML = `<h3>${hub.name}</h3>
                                          <button class="btn btn-secondary mt-2" onclick="toggleDescription(this)">Show Description</button>
                                          <div class="hub-description mt-2" style="display: none;">
                                            <p>${hub.description}</p>
                                            <h5>Resources:</h5>
                                            <ul>${hub.resources.map(resource => `<li>${resource.type}</li>`).join('')}</ul>
                                          </div>`;
                listElement.appendChild(listItem);

                const marker = L.marker([hub.latitude, hub.longitude]).addTo(map);
                marker.bindPopup(`<b>${hub.name}</b><br>${hub.description}`);
                markers.push(marker);
                bounds.push([hub.latitude, hub.longitude]);
              });

              if (bounds.length > 0) {
                map.fitBounds(bounds);
              } else {
                map.setView([0, 0], 2);
              }
            })
            .catch(error => console.error('Error fetching hubs:', error));
  }

  function clearMarkers() {
    markers.forEach(marker => {
      map.removeLayer(marker);
    });
    markers = [];
  }

  function toggleDescription(button) {
    const description = button.nextElementSibling;
    description.style.display = description.style.display === 'none' ? 'block' : 'none';
    button.textContent = button.textContent === 'Show Description' ? 'Hide Description' : 'Show Description';
  }
</script>

</body>
</html>
